*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    

    
}
.mid{
    height: 90%;
    width:90%;
    /* background-color: pink; */
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-items: space-around; 
   
    align-self: center;
    height: 50px;
}
header > img{
    
    width: 11%;
    cursor: pointer;
}
.heading{
    padding: 0%;
    margin: 0%;
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
}


ul{
    
    width: 60%;
    margin-left: 5px;
    font-size:20px;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}


li:hover{
    font-weight: bolder;
    cursor: pointer;
}

.contact{
    
    width: 10%;
    margin-left: 225px;
    /* margin-left:600px ; */
}
.contact button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #725ec5;
    color: white;
    font-size: 15px;
    font-weight:400px ;
    border: #725ec5;
    
}
.contact button:hover{
    color:black;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bolder;
}
span{
    color:#725ec5
}
.services button{
    width: 30%;
    height: 50px;
    border-radius: 10px;
    background-color: #725ec5;
    color: white;
    font-size: 15px;
    font-weight:400px ;
    border: #725ec5;
    margin-bottom: 200px;
}
.services button:hover{
    color:black;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bolder;
}

section{
    width: 100%;
    display: flex;
    align-self: center;
    margin-top: 5%;
}
.left{
    width: 60%;
    display: grid;
    grid-template-columns:auto;
    justify-content: start;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.right img{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center; 
    padding-right: 18px;
    margin: 0px;
}
p{
    font-size: 18px;
    margin-bottom: 60px;
    padding-top: 20px;
    height: 50%;
}
